h1 {
  color: --color-primary;
}

h2 {
  color: --color-primary;
}

h3 {
  color: --color-secondary;
}

h4 {
  color: --color-primary;
}

h5 {
  color: --color-primary;
}

h6 {
  color: --color-secondary;
}

.bg-dark h1 {
  color: --color-primary;
}
.bg-dark h2 {
  color: --color-primary;
}
.bg-dark h3 {
  color: --color-secondary;
}
.bg-dark h4 {
  color: --color-primary;
}
.bg-dark h5 {
  color: --color-primary;
}
.bg-dark h6 {
  color: --color-secondary;
}

.bg-primary h1 {
  color: --color-light;
}
.bg-primary h2 {
  color: --color-light;
}
.bg-primary h3 {
  color: --color-secondary;
}
.bg-primary h4 {
  color: --color-light;
}
.bg-primary h5 {
  color: --color-light;
}
.bg-primary h6 {
  color: --color-secondary;
}

.bg-secondary h1 {
  color: --color-primary;
}
.bg-secondary h2 {
  color: --color-primary;
}
.bg-secondary h3 {
  color: --color-accent;
}
.bg-secondary h4 {
  color: --color-primary;
}
.bg-secondary h5 {
  color: --color-primary;
}
.bg-secondary h6 {
  color: --color-accent;
}

.bg-accent h1 {
  color: --color-primary;
}
.bg-accent h2 {
  color: --color-primary;
}
.bg-accent h3 {
  color: --color-secondary;
}
.bg-accent h4 {
  color: --color-primary;
}
.bg-accent h5 {
  color: --color-primary;
}
.bg-accent h6 {
  color: --color-secondary;
}

.bg-gray h1 {
  color: --color-primary;
}
.bg-gray h2 {
  color: --color-primary;
}
.bg-gray h3 {
  color: --color-secondary;
}
.bg-gray h4 {
  color: --color-primary;
}
.bg-gray h5 {
  color: --color-primary;
}
.bg-gray h6 {
  color: --color-secondary;
}

.bg-light h1 {
  color: --color-primary;
}
.bg-light h2 {
  color: --color-primary;
}
.bg-light h3 {
  color: --color-secondary;
}
.bg-light h4 {
  color: --color-primary;
}
.bg-light h5 {
  color: --color-primary;
}
.bg-light h6 {
  color: --color-secondary;
}
