accent-color {
  color: --color-secondary;
}
accent-color:hover, accent-color:focus, accent-color:active {
  color: --color-primary;
}

.bg-dark accent-color {
  color: --color-light;
}
.bg-dark accent-color:hover, .bg-dark accent-color:focus, .bg-dark accent-color:active {
  color: --color-accent;
}

.bg-primary accent-color {
  color: --color-secondary;
}
.bg-primary accent-color:hover, .bg-primary accent-color:focus, .bg-primary accent-color:active {
  color: --color-accent;
}

.bg-secondary accent-color {
  color: --color-light;
}
.bg-secondary accent-color:hover, .bg-secondary accent-color:focus, .bg-secondary accent-color:active {
  color: --color-light;
}

.bg-accent accent-color {
  color: --color-secondary;
}
.bg-accent accent-color:hover, .bg-accent accent-color:focus, .bg-accent accent-color:active {
  color: --color-primary;
}

.bg-gray accent-color {
  color: --color-secondary;
}
.bg-gray accent-color:hover, .bg-gray accent-color:focus, .bg-gray accent-color:active {
  color: --color-primary;
}

.bg-light accent-color {
  color: --color-secondary;
}
.bg-light accent-color:hover, .bg-light accent-color:focus, .bg-light accent-color:active {
  color: --color-primary;
}
